name: Django E-Commerce  
on:
  push:
    branches:
      - master
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - master
jobs:  
  build: 
     runs-on: ubuntu-latest  
     env:
      IMG_NAME: ${{ github.repository }}
     steps:
       - name: Checkout
         uses: actions/checkout@v2  

       - name: Docker metadata
         id: metadata
         uses: docker/metadata-action@v3
         with:
           images: ${{ env.IMG_NAME }}
           tags: |
             type=semver,pattern={{version}}
             type=semver,pattern={{major}}.{{minor}}
             type=raw,value={{sha}},enable=${{ github.ref_type != 'tag' }}
       
       - name: Login to DockerHub
         uses: docker/login-action@v1
         if: ${{ github.ref_type == 'tag' }}
         with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}

       - name: Build and push Image
         uses: docker/build-push-action@v2
         with:
           context: .
           push: ${{ github.event.base_ref == 'refs/heads/master' && github.ref_type == 'tag' && !startsWith(github.ref, 'refs/tags/v0.')}}
           tags: ${{ steps.metadata.outputs.tags }}
           labels: ${{ steps.metadata.outputs.labels }}
